<%#

カテゴリ：見出し
用途：c-h2__01

%>

<%
	if (typeof hd_class === 'undefined') { var hd_class = ''; }
%>
<h2 class="c-hd__02 <%= hd_class %>"><%- hd_txt %><span class="c-hd__02--EN"><%- hd_EN_txt %></span></h2>
