<%#

カテゴリ：見出し
用途：c-h3__01

%>

<div class="c-hd-03">
	<span class="c-hd-03--en"><%- hd_EN_txt %></span>
	<h3 class="c-hd-03--ja"><span class="c-hd-03--round"><%- hd_round_txt %></span><%- hd_txt %></h3>
</div>
