<%#

カテゴリ：見出し
用途：c-h1__02

%>


<h1 class="c-hd__01-02">
	<span class="c-hd__01-02--ja"><%- hd_txt %></span>
	<span class="c-hd__01-02--EN"><%- hd_EN_txt %></span>
</h1>
<span class="c-hd__01-02--sub"><%- hd_txt_sub %></span>
