<% include ../common/_variable %>
<%
	page_id = '404';
	page_title = '404 | ' + site_title
	page_url = site_url + '404.html';
%>

<!DOCTYPE html>
<html lang=ja>
	<% include ../common/_head %>

	<body class="<%= page_id %>">
		<% include ../common/_header %>

		<main class="l-contents">

		</main>

		<% include ../common/_footer %>
		<% include ../common/_js %>
	</body>

</html>
