@charset "utf-8";

/* ===========================================
	scroll
=========================================== */
.c-scroll {
	bottom: 25px;
	color: $color-white;
	font-size: .7rem;
	left: 50%;
	position: absolute;
	text-transform: uppercase;
	transform: translateX(-50%);

	&::before {
		background: url(../img/top/ico_arrow_w.svg) no-repeat;
		content: "";
		display: block;
		height: 7px;
		margin: 0 auto;
		padding-bottom: 12px;
		width: 28px;
	}
}