@charset "utf-8";

/* ===========================================
  column
=========================================== */

.p-column {
	@include column();



	&__img {
		width: 50%;
	}

	&__txtbox {
		width: 46.62%;
	}

	&__tit {
		font-size: 2.4rem;
	}

	&__txt {
		line-height: 1.7;
		margin-top: 30px;
	}

	&:nth-child(n+2) {
		margin-top: 135px;
	}
}

.p-column--re {
	@include column($d: row-reverse);
}