@charset "utf-8";

/* ===========================================
  pagetop
=========================================== */

.p-pagetop {
	background-color: $color-white;
	bottom: 255px;
	font-size: 1rem;
	line-height: 1;
	padding: 10px;
	position: fixed;
	right: 40px;
	text-align: center;

	&::before {
		background: url(../img/common/ico_totop.svg) no-repeat;
		content: "";
		display: inline-block;
		height: 8px;
		margin-bottom: 6px;
		width: 12px;
	}

	&__link {
		display: block;
	}
}