@charset "UTF-8";

/* ===========================================
	pagination
=========================================== */
.p-pagination {
	margin-top: 175px;

	&__links {
		text-align: right;
	}

	&__num {
		color: #8d8d8d;
		font-size: 2.4rem;

		&.current {
			color: $site-color01;
		}

		&:nth-child(n+2) {
			margin-left: 50px;
		}

		&:nth-child(2) {
			margin-left: 55px;
		}

		&:last-of-type {
			margin-left: 55px;
		}
	}

	&__arrow {
		width: 30px;
	}
}