@charset "utf-8";

/* ===========================================
  story
=========================================== */
.p-story {
	&__hero {
		background: url(../img/story/mv_story.png) no-repeat;
		background-size: cover;

		&--sub {
			color: $color-white;
			font-size: 1.6rem;
			font-weight: 500px;
			text-align: center;
		}

		& .c-hd__01 {
			margin-bottom: 40px;
		}

		& .c-hd__img {
			padding: 150px 0 40px;
		}
	}

	& .p-post {
		&__img-box {
			width: 31.91%;
		}

		&__txt-box {
			width: 65.28%;
		}

		&__tit {
			margin-top: 0;
		}

		&__date {
			margin-left: 0;
		}
	}
}